@import "global";
#sliderContainer {
  padding-top: 8rem;
  margin-bottom: 4rem;
  position: relative;
  .sliderItem {
    height: calc(100vh - 158px);
    overflow: hidden;
    .sliderImage {
      display: none;
      width: 100%;
    }
  }
  .dots {
    margin-top: -4rem;
    .dot {
      display: block;
      width: 0.9375rem;
      height: 0.9375rem;
      background: $primary-1;
      // border-radius: 1rem;
      box-shadow: 0 0 50px #0000009f;
      margin: 1rem 0.5rem;
      &.selected {
        background: $enphasis-3;
      }
    }
  }
}
