@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap");

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@mixin pseudo {
  content: "";
  display: block;
}

@mixin infoAbsolute {
  font-family: "Montserrat";
  font-variant: small-caps;
  font-weight: 700;
  letter-spacing: 2px;
  color: $secondary-2;
}

// Colors
$primary-1: #fcf7fc;
$primary-2: #fcebf9;
$primary-3: #c2a3bd;
$enphasis-1: #fab7f0;
$enphasis-2: #f69be8;
$enphasis-3: #f87ce4;
$secondary-1: #3d293a;
$secondary-2: #21121f;

// Fonts
@mixin title {
  color: $secondary-2;
  font-family: "Cinzel";
}

@mixin title-1 {
  @include title;
  font-size: 4rem;
  font-weight: 400;
}

@mixin title-2 {
  @include title;
  font-size: 1.125rem;
  font-weight: 700;
}

@mixin cta {
  color: $secondary-1;
  font-weight: 700;
  font-family: "Montserrat";
  font-variant: small-caps;
}

@mixin cta-1 {
  @include cta;
  font-size: 1.5rem;
}
// Flex
.flex {
  display: flex;
}

.mainCenter {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.crossCenter {
  align-items: center;
}

.spaceBetween {
  justify-content: space-between;
}
