@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');

// Colors
$primary-1: #FCF7FC;
$primary-2: #FCEBF9;
$primary-3: #C2A3BD;
$enphasis-1: #FAB7F0;
$enphasis-2: #F69BE8;
$enphasis-3: #F87CE4;
$secondary-1: #3D293A;
$secondary-2: #21121F;
