@import "global";
@import "navbar";
@import "slider";
.title-1 {
  @include title-1;
}

.title-2 {
  @include title-2;
}

.title-3 {
  @include title-3;
}

.text-1 {
  @include text-1;
}

.text-2 {
  @include text-2;
}

.cta {
  padding-top: 1rem;
  margin-top: 2rem;
  text-align: center;
  transition: 0.2s;
  &::after {
    @include pseudo;
    width: 100%;
    height: 0.25rem;
    background: $secondary-1;
    margin-top: 1rem;
  }
  &:hover {
    background: $primary-1;
  }
  &:active {
    background: $primary-2;
  }
}

.cta-1 {
  @include cta-1;
}

section#hero {
  position: relative;
  height: calc(100vh - 158px);
  header {
    img {
      margin-right: 4rem;
    }
  }
  .info {
    position: absolute;
    right: 3rem;
    bottom: 1rem;
    p {
      @include infoAbsolute;
      margin: 0 1rem;
      &::after {
        @include pseudo;
        width: 100%;
        height: 0.25rem;
        background: $primary-2;
        margin-top: 1rem;
      }
    }
  }
  .socialMedia {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    a {
      @include infoAbsolute;
      writing-mode: vertical-rl;
      margin-bottom: 1rem;
      transition: 0.2s;
      &:hover {
        color: $enphasis-3;
        letter-spacing: 0;
      }
    }
    &::before {
      @include pseudo;
      width: 1rem;
      height: 0.25rem;
    }
  }
}

section#about {
  padding: 7rem 4rem;
  .aboutText {
    max-width: 36rem;
  }
  .aboutList {
    margin-left: 4rem;
    text-align: center;
    li {
      &::after {
        @include pseudo;
        width: 0.25rem;
        height: 6.25rem;
        background: $primary-2;
        margin: 0 1rem;
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
      max-width: 12rem;
      .text-1 {
        margin-top: 1rem;
      }
    }
  }
}

section#garden {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(#222222ee, #22222280), url("../../../public/garden.png");
  background-size: cover;
  .title-2 {
    color: $primary-2;
    margin-top: 8rem;
  }
  .text-1 {
    color: $primary-1;
    text-align: center;
    max-width: 40rem;
  }
}

section#contact {
  margin-top: 4rem;
  .contact {
    width: 50%;
    form {
      margin-top: 2rem;
      .inputBlock {
        margin-bottom: 2rem;
        label {
          font-size: 1.125rem;
          font-family: "Cinzel";
          font-weight: 700;
          color: $secondary-1;
          margin-bottom: 1rem;
          cursor: pointer;
        }
        input,
        textarea {
          padding: 1rem 1rem;
          font-family: "Montserrat";
          border: 0.25rem solid $primary-2;
          outline: 0;
          width: 25rem;
          transition: 0.2s;
          &::placeholder {
            color: $primary-3;
            font-family: "Montserrat";
            font-size: 1rem;
          }
          &:focus {
            box-shadow: 0 0 1px 0.25rem $enphasis-1;
          }
        }
        textarea {
          resize: none;
          padding-bottom: 4rem;
        }
      }
      .cta {
        margin-top: 0;
      }
    }
  }
}

// It's here just because it is used in another section: the footer
.contactInfo {
  width: 50%;
  margin-left: 4rem;
  ul {
    li {
      font-family: "Montserrat";
      font-size: 1rem;
      color: $secondary-2;
      margin-left: 1rem;
      margin-top: 2rem;
      &::before {
        @include pseudo;
        width: 2rem;
        height: 4px;
        background: $primary-2;
        margin-top: -1rem;
        margin-right: 1rem;
      }
    }
    .socialMedia {
      a {
        transition: 0.2s;
        &:hover {
          transform: scale(1.1);
        }
        margin-right: 2rem;
      }
    }
  }
}

div.quote {
  margin-top: 8rem;
  padding: 4rem 0;
  background-image: linear-gradient(#000000aa, #22222280), url("../../../public/flowerField.jpg");
  background-size: cover;
  color: $primary-1;
  text-align: center;
  .quoteText {
    font: italic 300 2.25rem "Montserrat";
    max-width: 34rem;
  }
  .quoteWriter {
    margin-top: 1rem;
    font: 700 1.125rem "Cinzel";
  }
}

footer.footer {
  background: $secondary-2;
  .firstRow {
    padding: 2rem 0;
    width: 100%;
    border-bottom: 2px solid $secondary-1;
  }
  .contactInfo {
    width: auto;
    text-align: center;
    margin: 2rem 0;
    .title-2 {
      color: $primary-1;
    }
    li {
      color: $primary-2;
      margin: 1rem 0;
      &:first-child {
        &::before {
          display: none;
        }
      }
      &::before {
        background: $secondary-1;
        margin: 1rem 0;
      }
      a {
        margin: 1rem;
        img {
          filter: brightness(2);
        }
      }
    }
  }
  .bottom {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    background: $secondary-1;
    font: 700 0.875rem "Montserrat";
    color: $primary-3;
  }
}
