@import "global";
@import "navbar";
@import "slider";
.title-1 {
  @include title-1;
}

.title-2 {
  @include title-2;
}

.title-3 {
  @include title-3;
}

.text-1 {
  @include text-1;
}

.text-2 {
  @include text-2;
}

.cta {
  padding-top: 1rem;
  margin-top: 2rem;
  text-align: center;
  &::after {
    @include pseudo;
    width: 100%;
    height: 0.25rem;
    background: $secondary-1;
    margin-top: 1rem;
  }
  &:hover {
    background: $primary-1;
  }
}

.cta-1 {
  @include cta-1;
}

section#hero {
  position: relative;
  height: 100vh;
  header {
    margin-top: 4rem;
    img {
      margin-right: 4rem;
    }
  }
  .info {
    position: absolute;
    right: 3rem;
    bottom: 1rem;
    p {
      @include infoAbsolute;
      margin: 0 1rem;
      &::after {
        @include pseudo;
        width: 100%;
        height: 0.25rem;
        background: $primary-2;
        margin-top: 1rem;
      }
    }
  }
  .socialMedia {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    a {
      @include infoAbsolute;
      writing-mode: vertical-rl;
      margin-bottom: 1rem;
      transition: 0.2s;
      &:hover {
        color: $enphasis-3;
        letter-spacing: 0;
      }
    }
    &::before {
      @include pseudo;
      width: 1rem;
      height: 0.25rem;
    }
  }
}

section#about {
  margin: 7rem 4rem;
  .aboutText {
    max-width: 36rem;
  }
  .aboutList {
    margin-left: 4rem;
    text-align: center;
    li {
      &::after {
        @include pseudo;
        width: 0.25rem;
        height: 6.25rem;
        background: $primary-2;
        margin: 0 1rem;
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
      max-width: 12rem;
      .text-1 {
        margin-top: 1rem;
      }
    }
  }
}

section#garden {
  width: 100vw;
  height: 100vh;
  background: url("../../../public/garden.png");
  background-size: cover;
}
